/* ==================== -- HOME PAGE STYLING -- ====================*/

.home-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding-inline: 2em;
}

.home-header, footer {
    margin-inline: 6rem;
}

.home-header {
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2em;
    border-radius: 0 0 0.75rem 0.75rem;
    border-bottom: 2px solid #383838;
}

.menu-items {
    display: flex;
    gap: 3em;
    list-style: none;
}

.header-buttons {
    display: flex;
    gap: 1em;
}

.cards {
    min-height: 30vh;
    display: grid;
    place-items: center;
    border-radius: 3rem;
    margin: 3em auto;
    padding: 2em;
}

.card-1 {
    background: palevioletred;
}

.card-2 {
    background: palegreen;
}

.card-3 {
    background: palegoldenrod;
}

footer {
    min-height: 5rem;
    display: grid;
    place-items: center;
    border-radius: 0.75rem 0.75rem 0 0;
    border-top: 2px solid #383838;
}

/* ==================== -- AUTHENTICATION PAGE (LOGIN & SIGNUP) STYLING -- ====================*/

/* ==================== -- LOGIN PAGE STYLING -- ====================*/

.login-container {
    max-height: 80vh;
    display: grid;
    place-items: center;
    grid-template-columns: 60% 40%;
    border: 1px solid #333;
    border-radius: 2rem;
    box-shadow: 8px 5px 15px rgb(58, 58, 58);
    margin: 3rem 10rem;
    padding: 3rem 2em;
}

.login-image-container {
    height: 100%;
    display: grid;
    place-items: center;
}

.forms-wrapper > div {
    margin-bottom: 2rem;
}

.forms-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    border-left: 1px solid #333;
    padding-left: 5rem;
}

.project-logo img {
    width: 35px;
    height: 35px;
    margin-right: 0.5em;
}

.project-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: var(--fw-semibold);
}

.login-form {
    display: grid;
    row-gap: 0.8em;
    font-weight: var(--fw-semibold);
}

.login-form h2 {
    text-align: center;
    margin-bottom: 0.6em;
}

.login-form input {
    height: 3rem;
    width: 100%;
    font-size: var(--fs-body);
    color: rgb(147, 147, 147);
    background-color: #262626;
    border: 1px solid #333;
    border-radius: 3px;
    padding-inline: 1em;
}

.login-form input:focus {
    outline: none;
}

.signup-link-text {
    text-align: end;
    font-size: 0.8rem;

    & a:hover {
        text-decoration: underline;
    }
}

.forms-submit-button {
    display: grid;
    place-items: center;
}

.forms-submit-button > button {
    border: 2px solid #333;
    background: var(--clr-accent-700);
    font-weight: var(--fw-semibold);
}

/* ==================== -- SIGNUP PAGE STYLING -- ====================*/

.signup-password-input {
    position: relative;
}

.signup-password-input > input {
    padding-right: 3em;
}

.signup-password-toggle {
    position: absolute;
    cursor: pointer;
    top: 13px;
    right: 5px;
    padding-inline: 0.2em;
}
