:root {
  /* Colours */
  --clr-light-100: #f5f5f5;
  --clr-light-300: #eaeaea;

  --clr-dark-700: #282828;
  --clr-dark-900: #161616;

  --clr-neutral-100: #D8F3DC;
  --clr-neutral-300: #B7E4C7;

  --clr-primary-400: #74C69D;
  --clr-primary-600: #52B788;

  --clr-accent-500: #40916C;
  --clr-accent-700: #1B4332;
  --clr-accent-900: #081C15;

  --fc-dark-700: var(--clr-dark-700);
  --fc-dark-900: var(--clr-dark-900);

  /* Font Families */
  --ff-primary: "Inter", system-ui, Arial, sans-serif;
  --ff-accent: "Gabarito", system-ui, Arial, sans-serif;

  /* Font Weights */
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  /* Font Sizes */
  --fs-body: 0.875rem;
  --fs-primary-heading: 3.5rem;
  --fs-secondary-heading: 2.5rem;
  --fs-nav: 0.975rem;
  --fs-button: 0.8rem;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: var(--fw-regular);
}

* {
  font-family: var(--ff-primary);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: var(--fw-semi-bold);
  color: var(--clr-light-300);
  text-decoration: none;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--clr-dark-900);
  color: var(--clr-light-300);
}

h1 {
  font-size: var(--fs-primary-heading);
  line-height: 1.1;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
}

button {
  display: grid;
  place-items: center;
  color: var(--clr-light-300);
  font-family: var(--ff-primary);
  font-weight: var(--fw-semi-bold);
  padding: 0.8em 1.2em;
  border: 1px solid transparent;
  background: none;
  cursor: pointer;
  border-radius: 2rem;
  background: var(--clr-dark-900);
}

button:hover {
  border-color: var(--clr-dark-700);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
